To achieve the scenario, focus upon the following task:
                                      
`{{ task.next_step }}`
                                      
You are given the following additional information about the task:

```                                
{{ task.next_step_context }}
```

{% if findings|length > 0 %}
You already have the following knowledge about the target environment:

```markdown
{{ findings }}
```
{% endif %}

You have the following Information about tools that are commonly called wrong:

```markdown
{% for i in invalid_commands %}
- Problem: {{ i.problem }}
    - example of wrong command: `{{ i.command }}`
    - example of corrected command: `{{ i.fixed_command}}`

{% endfor %}
```

Perform the task against the target environment. You have up to
{{max}} tries to achieve this, stop if you were not able to achieve this.

If you encounter errors, try to solve them.