You are given the following objective by the user:

```
{{ user_input }}
```

You are given the following hierarchical task plan:

```
{{ plan }}
```

From all the tasks, identify those that can be performed next. Analyze those
tasks and decide which one should be performed next based on their likelihood to
achieve the objective.

You have the following knowledge about the target environment:

```markdown
{{ knowledge }}
```
Be aware that this knowledge may be incomplete or incorrect.

Include relevant information for the selected task as its context. This includes
detailed information such as usernames, credentials, etc. You are allowed to
gather this information from throughout the whole task plan.  Do only include information
that is specific to our objective, do not generic information. Be very concise.

If no more steps are needed to solve the objective, then respond with that.