You are given the following objective by the user:

```
{{ user_input }}
```

You are given the following hierarchical task plan:

```
{{ plan }}
```

From all the tasks, identify those that can be performed next. Analyze those
tasks and decide which one should be performed next based on their likelihood to
achieve the objective.

If the task plan includes information relevant for the execution of the
designated task include this information as context. Do only include information
that is specific to our objective, do not generic information.

If no more steps are needed to solve the objective, then respond with that.