{{ SCENARIO }}

Given the current task plan and the knowledge about the target environment, suggest changes to the task plan.

The current Task plan is:

```
{{ plan }}
```
The current knowledge about the target environment is:

```markdown
{{ knowledge }}
```